.title {
  position: relative;
  display: inline-block;
  color: #f0ede8;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 2px;
  text-transform: uppercase;

  @media (max-width: 530px) {
    font-size: 16px;
    margin-bottom: 32px;
  }

  &__count {
    position: absolute;
    top: 0;
    right: -80px;
    color: rgba(240, 237, 232, 0.2);
    font-size: 12px;
    font-weight: 400;
    letter-spacing: 1px;

    @media (max-width: 560px) {
      top: -10px;
    }

    @media (max-width: 530px) {
      font-size: 11px;
      right: -70px;
    }
  }
}