.watched {
  padding-top: 48px;
  margin-bottom: 48px;
  position: relative;

  &__title {
    margin: 0 0 40px;
    color: #f0ede8;
    font-size: 22px;
    font-weight: 300;
    letter-spacing: 2px;
    text-transform: uppercase;

    @media (max-width: 650px) { font-size: 18px; }

    @media (max-width: 590px) {
      margin-bottom: 20px;
      font-size: 16px;
      max-width: 200px;
    }
  }

  &__inner {
    position: relative;
  }

  &__inner > a:first-child {
    right: 10px;
  }

  &__slider {
    margin-right: -15px;
  }
}