.skeleton {
  display: flex;
  align-items: start;
  margin-bottom: 40px;
  overflow-x: auto;
  padding-bottom: 10px;

  &::-webkit-scrollbar {
    height: 2px;
  }

  &::-webkit-scrollbar-track {
    background: transparent;
  }

  &::-webkit-scrollbar-thumb {
    background: rgba(184, 151, 63, 0.3);
  }

  &::-webkit-scrollbar-thumb:hover {
    background: #b8973f;
  }
}

.skeleton__item {
  background: #141414;
  overflow: hidden;
  padding: 0;
  height: 44px;
  min-width: 140px;

  &:not(:last-child) {
    margin-right: 1px;
  }
}

.skeleton__item__light {
  height: 100%;
  background: linear-gradient(
    270deg,
    rgba(255, 255, 255, 0.03) 34%,
    rgba(255, 255, 255, 0.06) 60%,
    rgba(255, 255, 255, 0.03) 85%
  );
  animation: skeleton 2.4s linear infinite;
}

@keyframes skeleton {
  0% { transform: translateX(-600px); }
  100% { transform: translateX(700px); }
}